<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1" />
<link href="templates/red vidoom.css" rel="stylesheet" type="text/css" />
<title>Kietu?</title>
</head>
<body>
<div id="entete">
<a href="?kie_action=summary" class="titrentete" title="Retour à l'index">Kietu? <span>webstats</span></a>
<div id="publiciteentete">{var.kietu.codepub;htmlconv=no}</div>
</div>
<div id="menuhaut">
<form method="post" action="?kie_action={var._SESSION.kie_action}">
 {var.kietu.KLN.from} <select name="kie_jou_deb"> 
 <option value="{blk_jou_deb.value}">{blk_jou_deb.name;block=option}</option>
 <option>{var._SESSION.kie_jou_deb;selected}</option>
 </select>
 <select name="kie_moi_deb"> 
 <option value="{blk_moi_deb.value}">{blk_moi_deb.name;block=option}</option> 
 <option>{var._SESSION.kie_moi_deb;selected}</option> 
 </select>
 <select name="kie_ann_deb"> 
 <option value="{blk_ann_deb.value}">{blk_ann_deb.name;block=option}</option> 
 <option>{var._SESSION.kie_ann_deb;selected}</option> 
 </select>
 {var.kietu.KLN.to} <select name="kie_jou_fin"> 
 <option value="{blk_jou_fin.value}">{blk_jou_fin.name;block=option}</option> 
 <option>{var._SESSION.kie_jou_fin;selected}</option> 
 </select>
 <select name="kie_moi_fin"> 
 <option value="{blk_moi_fin.value}">{blk_moi_fin.name;block=option}</option> 
 <option>{var._SESSION.kie_moi_fin;selected}</option> 
 </select>
 <select name="kie_ann_fin"> 
 <option value="{blk_ann_fin.value}">{blk_ann_fin.name;block=option}</option> 
 <option>{var._SESSION.kie_ann_fin;selected}</option> 
 </select>
 {var.kietu.KLN.sites} :
 <select name="kie_id_sit"> 
 <option value="{blk_id_sit.value}">{blk_id_sit.name;block=option}</option> 
 <option>{var._SESSION.kie_id_sit;selected}</option> 
 </select>
 <button type="submit">OK</button>
</form>
</div>
<div id="menugauche">
{blk_menu_gauche;block=begin;headergrp=titre}
<h1>{blk_menu_gauche.titre}</h1>
<ul>
{blk_menu_gauche;block=end}
<li><a href="{blk_menu_gauche.lien}">{blk_menu_gauche.texte;block=li}</a></li>
{blk_menu_gauche;block=begin;footergrp=titre}
</ul>
{blk_menu_gauche;block=end}
<h1>{var.kietu.KLN.title_preferences}</h1>
<form method="post" action="?kie_action={var._SESSION.kie_action}">
 <select name="kie_lang">
 <option value="{blk_langue.value}">{blk_langue.name;block=option}</option>
 <option>{var.kietu.active_lang;selected}</option> 
 </select>
 <select name="kie_template">
 <option value="{blk_template.value}">{blk_template.name;block=option}</option>
 <option>{var.kietu.active_template;selected}</option> 
 </select>
 <input type="submit" value="OK" />
</form>
</div>
<div id="texte">
{onshow;script={var.kietu_a_inclure};once;getob}
</div>
<div id="basdepage">
<div>Design : <a href="http://www.kooliss.net">kooliss.net</a> - Copyright © 2002-2005, <a href="http://www.kietu.net">kietu.net</a> v{var.kietu.version}</div>
<div>Template engine : <a href="http://www.tinybutstrong.com">TinyButStrong</a> v{var..version} - {var.kietu.temps_generation}</div>
</div>
</body>
</html>
